.lead {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .lead {
        min-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        min-width: 553px;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        min-width: 288px;
    }
}