.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: 360px;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 330px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 18px;
        max-width: 290px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: calc(100% - 16px*2);
    }
}