.page__content {
    max-width: 1184px;
    margin: 28px 48px 24px;
    min-width: 288px;
}

@media screen and (max-width: 1279px) {
    .page__content {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .page__content {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .page__content {
        max-width: 553px;
    }
}

@media screen and (max-width: 425px) {
    /* широкий телефон */
    .page__content {
        max-width: 288px;
    }
}


/*        @media screen and (max-width: 375px) {
            .page__content {
                max-width: 330px;
            }
        }
        
        @media screen and (max-width: 320px) {
            /* маленький телефон 

.page__content {
    max-width: 288px;
}


}
*/