.photo-grid__item {
    height: 213px;
    width: 100%px;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .photo-grid__item {
        width: 100%px;
        object-fit: cover;
        height: 225px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        width: 100%px;
        object-fit: cover;
        height: 264px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__item {
        width: 100%px;
        object-fit: cover;
        height: 216px;
    }
}