.place__paragraph {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 18px;
    line-height: 29.34px;
    max-width: 484px;
    margin: 0;
    padding: 0;
}

.place__paragraph:first-of-type {
    margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
    .place__paragraph:first-of-type {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}