    .lead__image {
        width: 984px;
        height: 615px;
        align-content: center;
    }
    
    @media screen and (max-width: 1279px) {
        .lead__image {
            width: 928px;
            height: 580px;
        }
    }
    
    @media screen and (max-width: 1023px) {
        .lead__image {
            width: 768px;
            height: 480px;
            margin-left: -24px;
            margin-right: -24px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .lead__image {
            width: 640px;
            height: 400px;
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    
    @media screen and (max-width: 425px) {
        .lead__image {
            width: 320px;
            height: 200px;
            margin-left: -16px;
            margin-right: -16px;
        }
    }