    .lead__image {
        width: 100%;
        height: 615px;
        align-content: center;
        object-fit: cover;
    }
    
    @media screen and (max-width: 1279px) {
        .lead__image {
            width: 100%;
            height: 580px;
        }
    }
    
    @media screen and (max-width: 1023px) {
        .lead__image {
            width: 100%;
            height: 480px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .lead__image {
            width: 100%;
            height: 400px;
        }
    }
    
    @media screen and (max-width: 425px) {
        .lead__image {
            width: 100%;
            height: 200px;
        }
    }