.place__website_url-heading {
    letter-spacing: 0.2em;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
}

@media screen and (max-width: 425px) {
    .place__website_url-heading {
        margin-left: 16px;
        margin-right: 16px;
    }
}