.intro {
    margin-top: 92px;
    margin-left: 100px;
    margin-bottom: 92px;
    max-width: 690px;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 0;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 600px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 288px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}