.cover {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 312px;
}

.cover::before {
    content: "";
    background: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
}

.cover__item:hover:before {
    opacity: 0.8;
}

@media screen and (max-width 1279px) {
    .cover {
        min-height: ;
    }
}

@media screen and (max-width 1023px) {
    .cover {
        min-height: ;
    }
}

@media screen and (max-width 767px) {
    .cover {
        min-height: ;
    }
}