.places__place {
    color: #fff;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 40px;
    margin: 0 0 80px;
}

.places__place:last-of-type {
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .places__place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
    .places__place:last-of-type {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .places__place {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 32px;
    }
    .places__place:last-of-type {
        margin-bottom: 66px;
    }
}