        .cover__title {
            margin: 245px 312px 32px;
            font-size: 72px;
            font-weight: 900;
            line-height: 76px;
            text-align: center;
            min-width: 560px;
            padding: 0;
        }