.places__place__image {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .places__place__image {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media screen and (max-width: 425px) {
    .places__place__image {
        margin-left: -16px;
        margin-right: -16px;
    }
}